repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.104.1
    hooks:
      - id: terraform_fmt
      - id: terragrunt_fmt
      - id: terraform_docs_without_aggregate_type_defaults
        args:
          - --hook-config=--create-file-if-not-exist=true
          - --args=--lockfile=false # ignore .terraform.lock.hcl
