on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release new version
    permissions:
      contents: write
      pull-requests: write
      issues: write
    runs-on: ubuntu-22.04
    if: github.ref_name == 'main'
    steps:
      - uses: actions/checkout@v6

      - name: Get npm cache directory
        id: npm-cache-dir
        shell: bash
        run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}

      - uses: actions/cache@v5
        id: npm-cache
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json', '.releaserc.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@b12c8f6015dc215fe37bc154d4ad456dd3833c90 # v6.0.0
        with:
          extra_plugins: |
            @semantic-release/git
            @semantic-release/changelog
            semantic-release-major-tag
          dry_run: ${{ env.ACT }} == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
