name: Terraform Test

on:
  workflow_dispatch:
  pull_request:

defaults:
  run:
    shell: bash

# Use ENV vars to configure parameters for steps
env:
  TERRAFORM_VERSION: 1.1.9
  TERRAGRUNT_VERSION: 0.37.1

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  test-terraform-pr-comment:
    name: TF code in examples/test-pr-comment
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          terraform-version: ${{ env.TERRAFORM_VERSION }}
          use-aws-auth: false
          terragrunt-working-directory: examples/test-pr-comment
          skip-caches: true
          use-ssh-agent: false
          enable-terraform-change-pr-commenter: true
          terraform-plan-filename: terraform.tfplan
          terragrunt-command: |
            terraform init
            terraform providers lock
            terraform plan -out terraform.tfplan # we need to make sure
          enable-debug: true # for prod use false here
  test-terragrunt-pr-comment:
    name: TF code in examples/test-pr-comment-terragrunt
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          terraform-version: ${{ env.TERRAFORM_VERSION }}
          terragrunt-version: ${{ env.TERRAGRUNT_VERSION }}
          use-aws-auth: false
          terragrunt-working-directory: examples/test-pr-comment-terragrunt
          skip-caches: true
          use-ssh-agent: false
          enable-terraform-change-pr-commenter: true
          terraform-plan-filename: terraform.tfplan
          terragrunt-command: |
            terragrunt run-all init
            terragrunt run-all providers lock
            terragrunt run-all plan
          enable-debug: true # for prod use false here
  test-terragrunt-pr-comment-noplan:
    name: TF code in examples/test-pr-comment-terragrunt-noplan
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          terraform-version: ${{ env.TERRAFORM_VERSION }}
          terragrunt-version: ${{ env.TERRAGRUNT_VERSION }}
          use-aws-auth: false
          terragrunt-working-directory: examples/test-pr-comment-terragrunt-noplan
          skip-caches: true
          use-ssh-agent: false
          enable-terraform-change-pr-commenter: true
          terraform-plan-filename: terraform.tfplan
          terragrunt-command: |
            terragrunt run-all init
            terragrunt run-all providers lock
            terragrunt run-all plan
          enable-debug: true # for prod use false here
