name: Terraform Test

on:
  workflow_dispatch:
  pull_request:

defaults:
  run:
    shell: bash

# Use ENV vars to configure parameters for steps
env:
  DEFAULT_TERRAFORM_VERSION: 1.14.0
  DEFAULT_TERRAGRUNT_VERSION: 0.93.11

permissions: {}

jobs:
  test-terraform-pr-comment:
    name: TF code in examples/test-pr-comment
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        env:
          TENV_GITHUB_TOKEN: ${{ github.token }}
        with:
          terraform-version: ${{ env.DEFAULT_TERRAFORM_VERSION }}
          use-aws-auth: false
          working-directory: examples/test-pr-comment
          skip-caches: true
          enable-debug: true # for prod use false here
      - working-directory: examples/test-pr-comment
        run: |
          terraform init
          terraform plan -out terraform.tfplan # required to generate pr comments
      - name: Add PR comment
        if: github.event_name == 'pull_request'
        uses: ./terraform-pr-commenter
        with:
          terraform-plan-filename: terraform.tfplan
          pr-commenter-comment-header: "Terraform Plan Changes for test-pr-comment"
          pr-commenter-comment-footer: "Expecting plan of 1 created resource"
          enable-debug: true
  test-terragrunt-pr-comment:
    name: TF code in examples/test-pr-comment-terragrunt
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        env:
          TENV_GITHUB_TOKEN: ${{ github.token }}
        with:
          terraform-version: ${{ env.DEFAULT_TERRAFORM_VERSION }}
          terragrunt-version: ${{ env.DEFAULT_TERRAGRUNT_VERSION }}
          use-aws-auth: false
          working-directory: examples/test-pr-comment-terragrunt
          skip-caches: false
          terragrunt-download: $HOME/.terragrunt-cache/${{ github.job }}
          enable-debug: true # for prod use false here
      - working-directory: examples/test-pr-comment-terragrunt
        run: |
          terragrunt run --all -- init
          terragrunt run --all -- plan -out terraform.tfplan # required to generate pr comments
      - name: Add PR comment
        if: github.event_name == 'pull_request'
        uses: ./terraform-pr-commenter
        with:
          terraform-plan-filename: terraform.tfplan
          pr-commenter-comment-header: "Terragrunt Plan Changes for test-pr-comment-terragrunt"
          pr-commenter-comment-footer: "Expecting 2 plans of 1 created resource each"
          enable-debug: true
  test-terragrunt-pr-comment-no-plan:
    name: TF code in examples/test-pr-comment-terragrunt-no-plan
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        env:
          TENV_GITHUB_TOKEN: ${{ github.token }}
        with:
          terraform-version: ${{ env.DEFAULT_TERRAFORM_VERSION }}
          terragrunt-version: ${{ env.DEFAULT_TERRAGRUNT_VERSION }}
          use-aws-auth: false
          working-directory: examples/test-pr-comment-terragrunt-no-plan
          skip-caches: false
          terragrunt-cache-extra-key: ${{ hashFiles('**/README.md') }}
          terragrunt-download: $HOME/.terragrunt-cache/${{ github.job }}
          enable-debug: true # for prod use false here
      - working-directory: examples/test-pr-comment-terragrunt-no-plan
        run: |
          terragrunt run --all -- init
          terragrunt run --all -- plan -out terraform.tfplan # required to generate pr comments
      - name: Add PR comment
        if: github.event_name == 'pull_request'
        uses: ./terraform-pr-commenter
        with:
          terraform-plan-filename: terraform.tfplan
          pr-commenter-comment-header: "Terragrunt Plan Changes for test-pr-comment-terragrunt-no-plan"
          pr-commenter-comment-footer: "No plan was generated for this PR"
          enable-debug: true
  test-terragrunt-pr-comment-no-change:
    name: TF code in examples/test-pr-comment-terragrunt-no-change
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        env:
          TENV_GITHUB_TOKEN: ${{ github.token }}
        with:
          terraform-version: ${{ env.DEFAULT_TERRAFORM_VERSION }}
          terragrunt-version: ${{ env.DEFAULT_TERRAGRUNT_VERSION }}
          use-aws-auth: false
          working-directory: examples/test-pr-comment-terragrunt-no-change
          skip-caches: true
          enable-debug: true # for prod use false here
      - working-directory: examples/test-pr-comment-terragrunt-no-change
        run: |
          terragrunt run --all -- init
          terragrunt run --all -- plan -out terraform.tfplan # required to generate pr comments
      - name: Add PR comment
        if: github.event_name == 'pull_request'
        uses: ./terraform-pr-commenter
        with:
          terraform-plan-filename: terraform.tfplan
          pr-commenter-comment-header: "Terragrunt Plan Changes for test-pr-comment-terragrunt-no-change"
          pr-commenter-comment-footer: "Expecting no changes in the PR comment"
          enable-debug: true
  test-terragrunt-pr-comment-with-no-summary:
    name: TF code in examples/test-pr-comment-terragrunt-with-no-summary
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        env:
          TENV_GITHUB_TOKEN: ${{ github.token }}
        with:
          terraform-version: ${{ env.DEFAULT_TERRAFORM_VERSION }}
          terragrunt-version: ${{ env.DEFAULT_TERRAGRUNT_VERSION }}
          use-aws-auth: false
          working-directory: examples/test-pr-comment-terragrunt-with-no-summary
          skip-caches: false
          terragrunt-download: $HOME/.terragrunt-cache/${{ github.job }}
          enable-debug: true # for prod use false here
      - working-directory: examples/test-pr-comment-terragrunt-with-no-summary
        run: |
          terragrunt run --all -- init
          terragrunt run --all -- plan -out terraform.tfplan # required to generate pr comments
      - name: Add PR comment
        if: github.event_name == 'pull_request'
        uses: ./terraform-pr-commenter
        with:
          terraform-plan-filename: terraform.tfplan
          pr-commenter-comment-header: "Terragrunt Plan Changes for test-pr-comment-terragrunt-with-no-summary"
          pr-commenter-comment-footer: "Expecting no summary in the PR comment, but 2 plans of 1 created resource each"
          include-plan-job-summary: false
          enable-debug: true
  test-terraform-pr-comment-with-binary-detection-override:
    name: TF code in examples/test-pr-comment-with-binary-detection-override
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        env:
          TENV_GITHUB_TOKEN: ${{ github.token }}
        with:
          terraform-version: ${{ env.DEFAULT_TERRAFORM_VERSION }}
          use-aws-auth: false
          working-directory: examples/test-pr-comment-with-binary-detection-override
          skip-caches: true
          enable-debug: true # for prod use false here
      - working-directory: examples/test-pr-comment-with-binary-detection-override
        run: |
          terraform init
          terraform plan -out terraform.tfplan # required to generate pr comments
      - name: Add PR comment
        if: github.event_name == 'pull_request'
        uses: ./terraform-pr-commenter
        with:
          terraform-plan-filename: terraform.tfplan
          pr-commenter-comment-header: "Terraform Plan Changes for test-pr-comment-with-binary-detection-override"
          pr-commenter-comment-footer: "Expecting plan of 1 created resource"
          use-automatic-binary-detection: false
          enable-debug: true
  test-terraform-pr-comment-versionfile:
    name: TF code in examples/test-pr-detect-versionfile
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        env:
          TENV_GITHUB_TOKEN: ${{ github.token }}
        with:
          terraform-version: "" # leave empty to detect from versionfile
          use-aws-auth: false
          working-directory: examples/test-pr-detect-versionfile
          skip-caches: false
          enable-debug: true # for prod use false here
      - working-directory: examples/test-pr-detect-versionfile
        run: |
          terraform init
          terraform plan -out terraform.tfplan # required to generate pr comments
      - name: Add PR comment
        if: github.event_name == 'pull_request'
        uses: ./terraform-pr-commenter
        with:
          terraform-plan-filename: terraform.tfplan
          pr-commenter-comment-header: "Terraform Plan Changes for test-pr-detect-versionfile"
          pr-commenter-comment-footer: "Expecting plan of 1 created resource"
          enable-debug: true
  test-terraform-pr-comment-versionfile-terragrunt:
    name: TF code in examples/test-pr-detect-versionfile-terragrunt
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        env:
          TENV_GITHUB_TOKEN: ${{ github.token }}
        with:
          terraform-version: "" # leave empty to detect from versionfile-terraform
          terragrunt-version: "" # leave empty to detect from versionfile-terragrunt
          use-aws-auth: false
          working-directory: examples/test-pr-detect-versionfile-terragrunt
          skip-caches: false
          enable-debug: true # for prod use false here
      - working-directory: examples/test-pr-detect-versionfile-terragrunt
        run: |
          terraform init
          terraform plan -out terraform.tfplan # required to generate pr comments
      - name: Add PR comment
        if: github.event_name == 'pull_request'
        uses: ./terraform-pr-commenter
        with:
          terraform-plan-filename: terraform.tfplan
          pr-commenter-comment-header: "Terraform Plan Changes for test-pr-detect-versionfile-terragrunt"
          pr-commenter-comment-footer: "Expecting plan of 1 created resource"
          enable-debug: true
  test-terraform-pr-comment-working-directory:
    name: TF code in examples/test-pr-comment-working-directory
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        env:
          TENV_GITHUB_TOKEN: ${{ github.token }}
        with:
          terraform-version: ${{ env.DEFAULT_TERRAFORM_VERSION }}
          use-aws-auth: false
          working-directory: examples/test-pr-comment-working-directory
          skip-caches: true
          enable-debug: true # for prod use false here
      - working-directory: examples/test-pr-comment-working-directory/root
        run: |
          terraform init
          terraform plan -out terraform.tfplan # required to generate pr comments
      - name: Add PR comment
        if: github.event_name == 'pull_request'
        uses: ./terraform-pr-commenter
        with:
          terraform-plan-filename: terraform.tfplan
          working-directory: examples/test-pr-comment-working-directory/root
          pr-commenter-comment-header: "Terraform Plan Changes for test-pr-comment-working-directory"
          pr-commenter-comment-footer: "Expecting plan of 2 created resources in subdirectory"
          enable-debug: true
  test-terraform-detect-versions:
    name: TF code in examples/test-pr-detect-versionfile-terragrunt (no PR comment)
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        env:
          TENV_GITHUB_TOKEN: ${{ github.token }}
        with:
          terraform-version: "" # leave empty to detect from versionfile-terraform
          terragrunt-version: "" # leave empty to detect from versionfile-terragrunt
          use-aws-auth: false
          working-directory: examples/test-pr-detect-versionfile-terragrunt
          skip-caches: false
          enable-debug: true # for prod use false here
      - name: run commands
        working-directory: examples/test-pr-detect-versionfile-terragrunt
        run: |
          terraform init
          terraform plan -out terraform.tfplan # required to generate pr comments
  test-cache-scoping-stack-a:
    name: Test cache scoping - Stack A
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    outputs:
      lock-hash: ${{ steps.action.outputs.terraform-plugin-cache-dir }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        id: action
        env:
          TENV_GITHUB_TOKEN: ${{ github.token }}
        with:
          terraform-version: ${{ env.DEFAULT_TERRAFORM_VERSION }}
          use-aws-auth: false
          working-directory: examples/test-cache-scoping/stack-a
          skip-caches: false
          enable-debug: true
      - name: Verify cache directory contains stack-a hash
        run: |
          cache_dir="${TF_PLUGIN_CACHE_DIR}"
          echo "Cache directory: $cache_dir"
          # Extract hash from path (last component)
          hash=$(basename "$cache_dir")
          echo "Hash: $hash"
          # Verify it's not a generic hash
          if [[ "$hash" == "no-lock" ]]; then
            echo "ERROR: Got generic 'no-lock' hash - scoping failed!"
            exit 1
          fi
          echo "✓ Cache is scoped with unique hash: $hash"
      - name: Initialize and verify provider
        working-directory: examples/test-cache-scoping/stack-a
        run: |
          terraform init
          # Verify AWS provider version ~5.0.0 was installed
          terraform version
  test-cache-scoping-stack-b:
    name: Test cache scoping - Stack B
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    outputs:
      lock-hash: ${{ steps.action.outputs.terraform-plugin-cache-dir }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        id: action
        env:
          TENV_GITHUB_TOKEN: ${{ github.token }}
        with:
          terraform-version: ${{ env.DEFAULT_TERRAFORM_VERSION }}
          use-aws-auth: false
          working-directory: examples/test-cache-scoping/stack-b
          skip-caches: false
          enable-debug: true
      - name: Verify cache directory contains stack-b hash
        run: |
          cache_dir="${TF_PLUGIN_CACHE_DIR}"
          echo "Cache directory: $cache_dir"
          # Extract hash from path (last component)
          hash=$(basename "$cache_dir")
          echo "Hash: $hash"
          # Verify it's not a generic hash
          if [[ "$hash" == "no-lock" ]]; then
            echo "ERROR: Got generic 'no-lock' hash - scoping failed!"
            exit 1
          fi
          echo "✓ Cache is scoped with unique hash: $hash"
      - name: Initialize and verify provider
        working-directory: examples/test-cache-scoping/stack-b
        run: |
          terraform init
          # Verify AWS provider version ~5.5.0 was installed
          terraform version
  test-cache-scoping-validation:
    name: Validate cache scoping - Different hashes
    runs-on: ubuntu-24.04
    needs: [test-cache-scoping-stack-a, test-cache-scoping-stack-b]
    steps:
      - name: Compare cache directories
        run: |
          hash_a="${{ needs.test-cache-scoping-stack-a.outputs.lock-hash }}"
          hash_b="${{ needs.test-cache-scoping-stack-b.outputs.lock-hash }}"
          echo "Stack A cache: $hash_a"
          echo "Stack B cache: $hash_b"
          if [[ "$hash_a" == "$hash_b" ]]; then
            echo "ERROR: Both stacks have identical cache directories!"
            echo "This means cache scoping is NOT working correctly."
            exit 1
          fi
          echo "✓ SUCCESS: Stacks have different cache directories"
          echo "Cache scoping is working correctly!"
